@media (min-width: 992px){

  body{
        	
        	
        	
        	
    background: #000 url('https://static.tumblr.com/tceouhx/hPfm58467/m31_gendler_nmosaic1.jpg') top left fixed;

            
color:#fff;
font-size:11px;
font-family:  "Lucida Grande", "Lucida Sans", "Lucida Sans Unicode", Geneva, Verdana, sans-serif ;
text-shadow: #000 0px 1px 0px;
}

  /* The animation code */
@keyframes ex1 {
    from {background-color:black;float: right;font-size: 15px;}
    to {background-color:rgb(238, 147, 147);font-size: 60px;}
  }
  
  /* The element to apply the animation to */

    #audio{
         display:"none";
    }
    
    #msg{
    
    text-align: left;
    width: auto;
    margin:10px auto;
    height:auto;
    position: fixed;
    left:30px;
    bottom:200px ;
    tab-size: 30px;
    font-size: 26px;
  }
 
  #box {
    background:green;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    text-align: center;
    font-size: 46px;

  }
  #box:hover {
    background: rgb(82, 19, 19);
    text-emphasis: none;
    text-align: left;
    padding: 40px auto;
    font-size-adjust: initial;
  }
  
  
  
  .start-msg {
  
    font-size: 40px;
    animation-name: ex1;
    animation-duration:12s;
    animation-delay: 6s;
    animation-iteration-count:100;
    color:yellow;
    background: black;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float:center;
    text-decoration-color: rgb(9, 255, 0);
  }
  
  
  #question {
    position:fixed ;
    left:80px;
    top:250px;
    color: rgb(230, 230, 238);
    padding:40px;
    font-size:25px;
    font-size:35px;
    letter-spacing:5px;
  }
  
  #already-guessed{
    letter-spacing: 0.2em;
  }
    #hint-button
    {font-size: 40px;
    background-color: rgb(169, 169, 218);
  }
  #hint {
    font-size: 36px;
    color:rgb(236, 122, 8);
    background-color:rgb(40, 40, 66);
      clear: both;
    margin:100px 0px 0px 0px}
    

  }
 .main{
  
   height:400px;
   width:1200px;
   float:center;
 }



  #earth {
    /* [1] Allow it to contain the absolutely positions pseudo-elements (later-on) */
    position:absolute;
    left:550px;
    top:150px;
  
    /* [2] Set-up the dimensions and spacing */
    width: 30%;
    height:60%;
    margin:10px auto;
  
    /* [3] Prepare the animation effects */
    transition: transform 200ms linear;
    animation: rotate 4s linear infinite; /* This is going to be defined in the next step */
  
    /* [4] Tweak the appearance, and give it a nice background i.e. the world map */
    color: wheat;
    border-radius: 50%;
    background: url(https://lh5.googleusercontent.com/-kkxEx-SkRaY/VBLF4BV2lZI/AAAAAAAAKao/FnKsv7402_c/s0/earthmap.jpg) 0 0 repeat / 630px;
    box-shadow: inset 20px 0 20px 6px rgba(0, 0, 0, 1);
  
    /* [5] Position things in a 3d space */
    transform-style: preserve-3d;
  }
  #earth:after {
    /* [1] Break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;
  
    /* [2] Make it take all the space available in the box (ahem... globe!) */
    width: 100%;
    height: 100%;
  
    /* [3] Make sure this has no generated content, as we want this just for fancy purposes */
    content: '';
  
    /* [4] Give it some shape and shadow */
    border-radius: 50%;
    box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
  }
  #earth:before {
    /* [1] Again, break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;
  
    /* [2] Again, give it all the available space */
    width: 100%;
    height: 100%;
  
    /* [3] Duh. */
    content: '';
  
    /* [4] Add some shape and overlay effect to it */
    opacity: .2;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, #fff, #000);
  }
  @keyframes rotate {
    0% {background-position: 0 0;}
    100% {background-position: 630px 0;}
  }
    #demotext {
        color: #FFFFFF;
        background: #232323;
        text-shadow: 0 0 5px rgb(136, 134, 134), 0 0 10px rgb(156, 149, 149), 0 0 15px rgb(104, 109, 102), 0 0 20px #ffb618, 0 0 30px rgb(255, 201, 24), 0 0 40px rgb(255, 220, 24), 0 0 55px rgb(255, 232, 24), 0 0 75px #ffc118;
        color: #FFFFFF;
        background: #232323;
        font-size:60px;
        margin:0px 0px 0px 600px;
        padding:0px 20px 20px 60px ;
        font-family: 'Courier New', Courier, monospace;
        font-weight: bold;
        position: relative;
        z-index: 1;
        display: inline-block;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
      
    }
  
  main {
    margin:auto;
    width:85%;
    height:100%;
    padding:15px;
  }


@media (min-width: 576px) { 


}

@media (min-width: 768px) { 



 }



@media (min-width: 1200px) {


 }
  
  
  
  
  