body {
  background:white;
  color:black;
  width:1400px;
  height:900;
  }
  /* The animation code */
@keyframes ex1 {
    from {background-color:rgb(253, 8, 20);}
    to {background-color:white;}
  }
  
  /* The element to apply the animation to */

    #audio{
         display:"none";
    }
    
    #msg{
    
    text-align: left;
    width: auto;
    margin:10px auto;
    height:auto;
    position: fixed;
    left:30px;
    bottom:200px ;
    tab-size: 30px;
    font-size: 26px;
  }
 
  #box {
    background:green;
    transition-property: all;
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
    text-align: center;
    font-size: 46px;

  }
  #box:hover {
    background: white;
    text-emphasis: none;
    text-align: left;
    padding: 40px auto;
    font-size-adjust: initial;
  }
  
  
  header .banner {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }
  
  .start-msg {
  
    font-size: 40px;
    animation-name: ex1;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count:100;
    color:rgb(75, 121, 6);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    float:center;
    text-decoration-color: rgb(9, 255, 0);
  }
  
  
  #question {
    position:fixed ;
    left:20px;
    top:250px;
    border:solid black;
    padding:40px;
    background-color:white;
    font-size:25px;
    font-size:35px;
    color:blue;
    letter-spacing:5px;
  }
  
  #already-guessed{
    letter-spacing: 0.2em;
  }
    #hint-button
    {font-size: 40px;
    background-color: rgb(220, 220, 228);
  }
  #hint {
    font-size: 36px;
    color:blue
    

  }

  #earth {
    /* [1] Allow it to contain the absolutely positions pseudo-elements (later-on) */
    position: fixed;
    left:450px;
    top:100px;
  
    /* [2] Set-up the dimensions and spacing */
    width: 600px;
    height: 600px;
    margin:10px auto;
  
    /* [3] Prepare the animation effects */
    transition: transform 200ms linear;
    animation: rotate 4s linear infinite; /* This is going to be defined in the next step */
  
    /* [4] Tweak the appearance, and give it a nice background i.e. the world map */
    color: #000;
    border-radius: 50%;
    background: url(https://lh5.googleusercontent.com/-kkxEx-SkRaY/VBLF4BV2lZI/AAAAAAAAKao/FnKsv7402_c/s0/earthmap.jpg) 0 0 repeat / 630px;
    box-shadow: inset 20px 0 80px 6px rgba(0, 0, 0, 1);
  
    /* [5] Position things in a 3d space */
    transform-style: preserve-3d;
  }
  #earth:after {
    /* [1] Break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;
  
    /* [2] Make it take all the space available in the box (ahem... globe!) */
    width: 100%;
    height: 100%;
  
    /* [3] Make sure this has no generated content, as we want this just for fancy purposes */
    content: '';
  
    /* [4] Give it some shape and shadow */
    border-radius: 50%;
    box-shadow: -80px 15px 80px 10px rgba(0,0,0,.9) inset;
  }
  #earth:before {
    /* [1] Again, break the flow to show this as an overlay */
    position: absolute;
    top: 0;
    left: 0;
  
    /* [2] Again, give it all the available space */
    width: 100%;
    height: 100%;
  
    /* [3] Duh. */
    content: '';
  
    /* [4] Add some shape and overlay effect to it */
    opacity: .2;
    border-radius: 50%;
    background: radial-gradient(circle at 100px 100px, #fff, #000);
  }
  @keyframes rotate {
    0% {background-position: 0 0;}
    100% {background-position: 630px 0;}
  }
  .banner-heading{
	font-family: 'Lobster', cursive;
	font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    margin-bottom: 30px;
  color:rgb(19, 3, 3);
  
  }
  main {
    margin:auto;
    width:100%;
    height:100%;
    padding:15px;
  }
  
  
  
  
  